<body>
    <section>
        <div class="columns">
            <div class="column">
                <h2 class="title">Battallas ogame</h2>
            </div>
        </div>

        <p>&nbsp;</p>

        <div class="columns">
            <div class="column is-8 is-half is-offset-2">
                <form id="frmAddBattle" autocomplete="off">
                    <div class="field">
                        <label class="label" for="tbBannerBattle">Banner</label>
                        <div class="control">
                            <input class="input" type="text" name="tbBannerBattle" id="tbBannerBattle" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="taSummaryBattle">Summary</label>
                        <div class="control">
                            <textarea class="textarea" name="taSummaryBattle" id="taSummaryBattle"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <input type="button" id="btnAddBattle" class="button is-success is-rounded" value="Submit pvto!" />
                    </div>
                </form>
            </div>
        </div>
    </section>